* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
}

.main {
    min-height: 699px;
    background: url('../logo/bg.jpg') center center/cover no-repeat;
}

.main .links {
    display: flex;
    justify-content: space-between;
}

.main .main_logo {
    margin-top: 20px;
}

.main .main_main {
    margin-top: 20px;
}

.main .main_main a {
    color: #ffffff;
    text-decoration: none;
}

.main .main_main a:hover {
    color: #fbfb80d8;
}

.main .main_help {
    margin-top: 20px;
}

.main .main_help a {
    color: #ffffff;
    text-decoration: none;
}

.main .main_help a:hover {
    color: #fbfb80d8;
}

.main .main_dec {
    text-decoration: none;
}

.main_sign, .main_exit {
    margin-top: 8px;
    font-size: 15px;
    background:none;
    color: #fff;
    border: 1px solid rgb(98, 95, 95);
    border-radius: 24px;    
    cursor: pointer;

}

.main_sign:hover , .main_exit:hover {
    border: 1px solid #fff;  
}

.main .main_sign .main_btn {
    width: 55px;
    height: 115%;
    border-radius:20%;
}

.main .main_sign a {
    border-radius: 10px;
    border-color:#006eeb;
    color: #ffffff;
    text-decoration: none;
}

.main .main_sign a:hover {
    color: #fbfb80d8;
}


form {
    color:#ffffff;
    width:1250px;
    margin:0 auto;
    font-size: 5px;
    margin-top: 200px;
    line-height: 40px;    
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
}


input{
    padding:14px 15px;
    border:0;
    font-size:25px;
    border-radius:5px;
}

.search {
    width: 47%;
}

.submit{
    width: 220px;
    background-color: #1c87c9;
    color:#ffffff;
}

.submit:hover {
    background-image:none;
    background-color: #1a4f5a;
}



.vacancy {
    padding: 90px 0 0 0;
}

.vacancy .vacancy_btn {
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
    width: 220px;
    height: 150px;
    border-radius: 2px;
    border-color:#fff8f8;
    cursor: pointer;

}

.vacancy .vacancy_btn:hover {
    background-color: #ffffff;
    box-shadow: 6px 8px 2px 2px rgba(130, 126, 126, 0.5);    
}

.vacancy .vacancy_btn .vacancy_text {
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin-left: 15px;
    margin-top: 1px;
    font-size: 20px;
}




footer {
    min-height: 156px;
    background-color: #1c87c9;
    padding: 14px 23px 39px 23px;
}

footer:hover {
    text-decoration: none;
}

footer .footer_wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px;
}

footer .footer_social {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

footer .footer_social .footer_social_item {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 4px; 
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 100%;
    text-decoration: none;
}

footer .footer_social .footer_social_item span {
    color:#006eeb;
}

footer .footer_social  .ins span  {
    color:#f90505;
}


footer .footer_social .footer_social_item:hover {
    background-color: rgb(81, 81, 81);
}

footer .footer_links {
    width: 390px;
    margin: 0 auto;
}

footer .footer_links .footer_links_main {
    display: flex;
    justify-content: space-between;
    margin-left: -95px;
}

footer .footer_links .footer_links_main a {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;   
}

footer .footer_links .footer_links_sub {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: -95px;
}

footer .footer_links .footer_links_sub a {
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;    
}

@media (max-width: 1200px) {

    .main {
        width: 100%;
    }
    .main .links {
        padding: 20px 40px; 
    }

    form {
        padding-left: 50px;
        font-size: 10px;
        height: 50px;
        width: 950px;
    }

    form h1 {
        font-size: 35px;
    }

    input {
        font-size: 20px;
    }
    .vacancy {
      padding: 0 auto;
    }

    .vacancy .vacancy_btn {
        width: 220px;
    }


} 
 
@media (max-width: 992px) {
    .main {
        width: 100%;
    }

    form {
        padding-left: 30px;
        font-size: 10px;
        line-height: 21px;
        width: 700px;
    }
    form h1 {
        font-size: 30px;
    }

    form input {
        width: 5%;
        font-size: 14px;
    }

    .submit {
        width: 120px;
    }

    .vacancy .vacancy_btn {
        width: 180px;
    }

    footer {
        padding: 10px 0 20px 20px;
    }
    footer .footer_social {
        padding-left: 20px;
    }

    footer .footer_social .footer_social_item {
        margin-top: 40px;
    }
    footer .footer_links_sub {
        padding-left: 60px;
    }
}

@media (max-width: 768px) {
    .main {
        width: 100%;
    }

    form {
        font-size: 19px;
        line-height: 10px;
        width: 550px;
    }

    form h1 {
        font-size: 22px;
    }

    form input {
        font-size: 11px;
    }

    .submit {
        width: 95px;
        font-size: 11px;
    }

    .vacancy .vacancy_btn {
        margin-left: 30px;
        width: 180px;
    }

    footer {
        padding: 10px 0 20px 20px;
    }
    footer .footer_social {
        margin-top: 40px;
    }

    footer .footer_links_main {
        padding-right: 60px;
    }
    footer .footer_links_sub {
        padding-right: 90px;
    }

}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
    .main {
        min-height: 450px;
        width: 100%;
    }
    .main .main_links {
        display: flex;
        justify-content: space-between;
        
    }
    .main .main_main {
        font-size: 13px;
    }
    .main .main_logo {
        font-size: 13px;
    }

    .main .main_help {
        font-size: 13px;
    }
    .main .main_exit, .main_sign {
        margin-top: 5.7px;
        font-size: 13px;
        border: none; 
    }

    form {
        margin-top: 80px;
        width: 280px;
        margin-left: 0;
    }

    form h1 {
        font-size: 18px;
    }

    .search {
        width: 70%;
        font-size: 8px;
    }
    .submit {
        width: 70px;
        font-size: 7px;
    }

    .vacancy {
        padding: 35px 0;
    }
    .vacancy .vacancy_btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        height: 90px;
        width: 115px;
    }

    .vacancy .vacancy_btn .vacancy_text {
        font-size: 12px;
    }


    .vacancy .vacancy_btn .vacancy_price {
        font-size: 8px;
    }

    footer {
        min-height: 150px;
        padding: 10px 0 20px 20px;
    }
    footer .footer_social {
        margin-top: 20px;
        
    }

    footer .footer_links {
        width: 100px;
        text-align: center;
    }

    footer .footer_links .footer_links_main {
        display: block;
    }
    footer .footer_links .footer_links_main a {
        font-size: 10px;
        margin-bottom: 10px;
        line-height: 25px;
    }
    footer .footer_links .footer_links_sub {
        display: none;
        font-size: 1px;
    }

    footer .footer_social {
        margin-top: 60px;
        width: 200px;
        text-align: center;
    }
    
    footer .footer_social .footer_social_item {
        width: 22px;
        height: 22px;
    }
    
}

